@font-face {
    font-family: ChillRoundF;
    src: url("https://leafevans.github.io/fonts/ChillRoundFRegular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ChillRoundF;
    src: url("https://leafevans.github.io/fonts/ChillRoundFBold.woff2")
        format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MapleMonoNFCN;
    src: url("https://leafevans.github.io/fonts/MapleMono-NF-CN-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MapleMonoNFCN;
    src: url("https://leafevans.github.io/fonts/MapleMono-NF-CN-Bold.woff2")
        format("woff2");
    font-weight: bold;
    font-style: normal;
}

main {
    --font-sans: ChillRoundF, "微软雅黑", Arial, sans-serif;
    --font-mono: MapleMonoNFCN, "Fira Mono", Consolas, Menlo, Monaco, monospace;
    --color-prettylights-syntax-comment: #a8a29e;
    --color-prettylights-syntax-constant: #fb923c;
    --color-prettylights-syntax-entity: #fb7185;
    --color-prettylights-syntax-storage-modifier-import: #e7e5e4;
    --color-prettylights-syntax-entity-tag: #fdba74;
    --color-prettylights-syntax-keyword: #fb7185;
    --color-prettylights-syntax-string: #fb923c;
    --color-prettylights-syntax-variable: #fbbf24;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f87171;
    --color-prettylights-syntax-invalid-illegal-text: #fafaf9;
    --color-prettylights-syntax-invalid-illegal-bg: #7f1d1d;
    --color-prettylights-syntax-carriage-return-text: #fafaf9;
    --color-prettylights-syntax-carriage-return-bg: #991b1b;
    --color-prettylights-syntax-string-regexp: #fdba74;
    --color-prettylights-syntax-markup-list: #fef3c7;
    --color-prettylights-syntax-markup-heading: #fb923c;
    --color-prettylights-syntax-markup-italic: #e7e5e4;
    --color-prettylights-syntax-markup-bold: #e7e5e4;
    --color-prettylights-syntax-markup-deleted-text: #fecaca;
    --color-prettylights-syntax-markup-deleted-bg: #7f1d1d;
    --color-prettylights-syntax-markup-inserted-text: #fed7aa;
    --color-prettylights-syntax-markup-inserted-bg: #7c2d12;
    --color-prettylights-syntax-markup-changed-text: #fde68a;
    --color-prettylights-syntax-markup-changed-bg: #713f12;
    --color-prettylights-syntax-markup-ignored-text: #78716c;
    --color-prettylights-syntax-markup-ignored-bg: #c2410c;
    --color-prettylights-syntax-meta-diff-range: #fb7185;
    --color-prettylights-syntax-brackethighlighter-angle: #a8a29e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #57534e;
    --color-prettylights-syntax-constant-other-reference-link: #fb923c;
    --color-btn-text: #e7e5e4;
    --color-btn-bg: #44403c;
    --color-btn-border: rgba(250, 250, 249, 0.1);
    --color-btn-shadow: 0 0 transparent;
    --color-btn-inset-shadow: 0 0 transparent;
    --color-btn-hover-bg: #57534e;
    --color-btn-hover-border: #a8a29e;
    --color-btn-active-bg: #44403c;
    --color-btn-active-border: #78716c;
    --color-btn-selected-bg: #292524;
    --color-btn-primary-text: #fff;
    --color-btn-primary-bg: #f97316;
    --color-btn-primary-border: rgba(250, 250, 249, 0.1);
    --color-btn-primary-shadow: 0 0 transparent;
    --color-btn-primary-inset-shadow: 0 0 transparent;
    --color-btn-primary-hover-bg: #fb923c;
    --color-btn-primary-hover-border: rgba(250, 250, 249, 0.1);
    --color-btn-primary-selected-bg: #ea580c;
    --color-btn-primary-selected-shadow: 0 0 transparent;
    --color-btn-primary-disabled-text: rgba(250, 250, 249, 0.5);
    --color-btn-primary-disabled-bg: rgba(249, 115, 22, 0.6);
    --color-btn-primary-disabled-border: rgba(250, 250, 249, 0.1);
    --color-action-list-item-default-hover-bg: rgba(168, 162, 158, 0.12);
    --color-segmented-control-bg: rgba(120, 113, 108, 0.1);
    --color-segmented-control-button-bg: #292524;
    --color-segmented-control-button-selected-border: #78716c;
    --color-fg-default: #e7e5e4;
    --color-fg-muted: #a8a29e;
    --color-fg-subtle: #78716c;
    --color-canvas-default: #1c1917;
    --color-canvas-overlay: #292524;
    --color-canvas-inset: #0c0a09;
    --color-canvas-subtle: #292524;
    --color-border-default: #44403c;
    --color-border-muted: #292524;
    --color-neutral-muted: rgba(120, 113, 108, 0.4);
    --color-accent-fg: #fb923c;
    --color-accent-emphasis: #f97316;
    --color-accent-muted: rgba(251, 146, 60, 0.4);
    --color-accent-subtle: rgba(251, 146, 60, 0.1);
    --color-success-fg: #4ade80;
    --color-attention-fg: #fbbf24;
    --color-attention-muted: rgba(251, 191, 36, 0.4);
    --color-attention-subtle: rgba(251, 191, 36, 0.15);
    --color-danger-fg: #fb7185;
    --color-danger-muted: rgba(251, 113, 133, 0.4);
    --color-danger-subtle: rgba(251, 113, 133, 0.1);
    --color-primer-shadow-inset: 0 0 transparent;
    --color-scale-gray-7: #44403c;
    --color-scale-blue-8: #9a3412;
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
    font-family: var(--font-sans) !important;
}

code,
pre,
textarea[data-monospace],
textarea[class*="mono"],
textarea.gsc-monospace-font {
    font-family: var(--font-mono) !important;
}

textarea {
    font-family: inherit;
}

.gsc-homepage-bg {
    background-color: #0c0a09;
}

main .gsc-loading-image {
    background-image: url(https://github.githubassets.com/images/mona-loading-dimmed.gif);
}
