@font-face {
    font-family: ChillRoundF;
    src: url("/fonts/ChillRoundFRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ChillRoundF;
    src: url("/fonts/ChillRoundFBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MapleMonoNFCN";
    src: url("/fonts/MapleMono-NF-CN-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MapleMonoNFCN";
    src: url("/fonts/MapleMono-NF-CN-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MapleMonoNFCN";
    src: url("/fonts/MapleMono-NF-CN-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "MapleMonoNFCN";
    src: url("/fonts/MapleMono-NF-CN-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: ChillRoundF, "微软雅黑", "Arial", sans-serif;
}

code,
pre {
    font-family:
        MapleMonoNFCN, "Fira Mono", "Consolas", "Menlo", "Monaco", monospace;
}
